

.sidebarFriend {
    display: flex;
    margin-bottom: 15px;
    list-style: none;
    align-items: center;
    position: relative;
    left:-40px;
    background-color: red;
  }
  
  .sidebarFriendImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }